<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/static/base.css"/>

  </head>
  <body>
    
    <div>
      <div class="main" style="color: #D9F6EB;">
        <div class="w3-jumbo container" style="background-color:#265F4A " style="width: 100%">
          <div >
            <img src="https://freesvg.org/img/1545520056.png" alt="Prof. Owl" height="150" width="150" align = "right" class="responsive" >
           </div>
           <a class="main" href=""><u><strong >E-library</strong></u></a><p></p><p></p>
        <div style="position: absolute" style="top: 200px">{% block content %} tjis{% endblock %}</div>
        </div>
      </div>
    </div>
  
    
  
  </body>
</html>
