{% extends 'base.html' %}

{% block content %} 

<div class="row">
	<div class="column">
  		<div class="card">
  			<a href ="request"><img src="https://www.goodfreephotos.com/albums/vector-images/red-books-vector-art.png" alt="Books" style="width:100%"></a>
  			<h4><b><strong>Gate</strong></b></h4>
		</div>
	</div>

	<div class="column">
  		<div class="card">
  			<a href =><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Gnome-application-certificate.svg/1024px-Gnome-application-certificate.svg.png" alt="Certificate" style="width:100%"></a>
  			<h4><b><strong>Online Courses</strong></b></h4>
		</div>
	</div>
	
</div>
{% endblock %}
