<!DOCTYPE html>
<html>
<head>
  <title>Gate books</title>
  <link rel="icon" type="image/ico" href="/media/capture.png" />
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/cs/book.css">
  <link rel="icon" type="image/ico" href="/media/book/title.png" />
  <script src="https://kit.fontawesome.com/8a9412ad16.js"></script>
 <script>
function openNav() {
  document.getElementById("myNav").style.width = "100%";
}

function closeNav() {
  document.getElementById("myNav").style.width = "0%";
}
</script>
</head>
<body>
<section id="Nav">
   <div id="myNav" class="overlay">
  	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  	<div class="overlay-content">
    	<a href="/request/" onclick="closeNav()"></i>MainPage</a>
    	<a href="#"></i>Gate- books & notes</a>
    	<a href="#"></i>Gate- videos</a>
    	<a href="#"></i>Gate- Preparation<sup>online resource</sup></a>
    		<a href="https://chat.whatsapp.com/HM9VJz4a8Ce0TvUZingcxF" target="_blank" class="whataap" title="Join to our whataap group----->>">--need any book??</a>
    </div>
   </div>
   <div>
 <span style="font-size:30px;cursor:pointer" class="Menu" onclick="openNav()">&#9776;</span>
 <img class="logo" id="logo" src="/media/book/image.jpg">
</div>
			</section>
			<section id="navbar">
				<div class="topnav">
  <a class="active" href="#">BOOK SUGGESTION</a>
  <a href="/materials/notes">NOTES</a>
   <a href="/materials/previous" >QUESTION PAPER<h6 style="margin-top:-5px;text-align: right;font-size: 10px; margin-bottom:-6px;">Previous year</h6></a>
  <a href="/materials/motivation">MOTIVATION</a>
</div>
			</section>

      <section id="table">
        <img class="img" src="/media/book/img.png">
        <h3>List of Best Books for GATE CSE 2020 [Suggested by GATE Toppers!]</h3>
        <div class="table">
          <table>
            <tr class="sub">
              <td>Subject</td>
              <td>Book Name</td>
              <td>Author Name</td>
              <td>Click here</td>
            </tr>
            <tr>
              <td>C programming</td>
              <td>The C Programming language</td>
              <td>Brain W.Kenighan, Dennis M.Ritchie, (Edition:2)</td>
               <td><a class="follow" href="https://www.google.com">Follow</a></td>
            </tr>
            <tr>
              <td>Data Structure</td>
              <td>Classsic Data Structure</td>
              <td>Debasis Samanta, (Edition:2)</td>
               <td><a class="follow" href="">Follow</a></td>
            </tr>
            <tr>
              <td>Algorithms</td>
              <td>Introduction to Algorithms</td>
              <td>Thomas H.Cormen, Charles E.Leiserson, Ronald L. Rivest and Clifford Stein, (Edition)</td>
               <td><a class="follow" href="">Follow</a></td>
            </tr>
            <tr>
              <td>Computer Networks</td>
              <td>Computer Networking:A Top-Down Approch</td>
              <td>James F.Kurose, Keith W.Rose, (Edition:6)</td>
               <td><a class="follow" href="">Follow</a></td>
            </tr>
            <tr>
              <td>Operating System</td>
              <td>Opearting System Concepts</td>
              <td>Silberschatz, Galvin, Gagne, (Edition:8)</td>
               <td><a class="follow" href="">Follow</a></td>
            </tr>
            <tr>
              <td>Database</td>
              <td>Database System Concepts</td>
              <td>Silberschatz. Sudarshan, Korth, (Edition:6)</td>
               <td><a class="follow" href="">Follow</a></td>
            </tr>
            <tr>
              <td>Theory of computation</td>
              <td> An Introduction to Formal Language and Automata</td>
              <td>Peter Linz, (Edition:5)</td>
               <td><a class="follow" href="">Follow</a></td>
            </tr>
            <tr>
              <td>Computer Organization & Architecture</td>
              <td>Computer Organization and Architecture</td>
              <td>Hamacher, Vranesic, Zaky, (Edition:7)</td>
               <td><a class="follow" href="">Follow</a></td>
            </tr>
            <tr>
              <td>Digital Logic</td>
              <td>Digital Logic & Computer Design</td>
              <td>M. Morris Mnano, (Edition)</td>
               <td><a class="follow" href="">Follow</a></td>
            </tr>
            <tr>
              <td>Compiler Design</td>
              <td>Compiler:Principle</td>
              <td>Alfred.Aho, Ravi Sethi, D.Jeffrey Ulman, (Edition:2)</td>
               <td><a class="follow" href="">Follow</a></td>
            </tr>
            <tr>
              <td>Engineering Mathematics</td>
              <td>Higher Engineering Mathematics</td>
              <td>B.S. Grewal, (Edition:43)</td>
               <td><a class="follow" href="">Follow</a></td>
            </tr>
            <tr>
              <td>Discrete Mathematics</td>
              <td>Discrete Mathematics and Its Application</td>
              <td>Kenneth Rosen</td>
               <td><a class="follow" href="">Follow</a></td>
            </tr>
            <tr>
              <td>Reasoning</td>
              <td>A Modern Approch to Verbal & Non-Verbal Reasoning</td>
              <td>R.S. Aggarawal, (Edition:Revised)</td>
               <td><a class="follow" href="">Follow</a></td>
            </tr>
            <tr>
              <td>Apitude</td>
              <td>Quantitive Aptitude For Competitive Examination</td>
              <td>R.S. Aggarawal, (Edition:7)</td>
               <td><a class="follow" href="">Follow</a></td>
            </tr>
          </table>
        </div>
      </section>
</body>
</html>
